@tailwind base;
@tailwind components;
@tailwind utilities;

.hambuger{
    height: 24px;
    width: 24px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.25s;
    position: relative;
}

.hambuger-top,
.hambuger-middle,
.hambuger-bottom {
    width:24px;
    height:2px;
    background-color: #ffffff;
    position: absolute;
    transition: all 0.5s;
    transform: rotate(0);
    top:0;
    right: 0;
}

.hambuger-middle{
    transform:translateY(7px)
}
.hambuger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
}

.open .hambuger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hambuger-middle{
    display: none;
}

.open .hambuger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

